/* Google fonts */

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i|Pacifico&subset=latin-ext');
/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */

html {
	box-sizing: border-box;
}

*,
::after,
::before {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 50px;
	font: 18px/1.5 sans-serif;
	background-color: white;
	color: #333;
}

.vystup {
	color: black;
	color: rgb(167, 25, 160);
	font-style: italic;
	font-size: larger;
	
}

button {
	background-color: rgb(184, 181, 181);
	color: white;
	box-shadow: none;
}

